<div class="modal-header">
  <h5 class="modal-title">Duell Anfrage</h5>

  <button type="button" class="btn-close" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="d-flex align-items-start">
    <span class="material-icons" style="font-size: 140px">person</span>
    <div class="row mx-3 my-3">
      <h5>Anfrage annehmen oder ablehnen</h5>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="acceptRequest()">
    Annehmen
  </button>
  <button type="button" class="btn btn-primary" (click)="declineRequest()">
    Ablehnen
  </button>
</div>
