<h2 class="bg-warning text-dark titelText">Quiz Game</h2>
<!-- Body -->
<div
  *ngIf="!toogleGameStart && !showStatistic"
  class="shadow box"
  style="height: 90%; border-radius: 25px; padding: 10px"
>
  <!-- Question -->
  <div class="questionField">
    <h4>{{ this.randomQuestions[questionNumber]?.description }}</h4>
  </div>
  <hr />

  <!-- Answers -->
  <div>
    <button
      (click)="buttonClicked(answer, questionNumber)"
      class="answerField"
      *ngFor="let answer of this.randomQuestions[questionNumber]?.answers"
    >
      <h5>{{ answer }}</h5>
    </button>
  </div>
</div>
<div
  class="bg-warning"
  *ngIf="toogleGameStart && !showStatistic"
  style="border-radius: 20px; height: 80%; padding: 20px"
>
  <div class="header centerItems"><h1 class="text-dark">QuizGame</h1></div>
  <div class="body centerItems">
    <p style="font-size: larger">Warten auf gegner</p>
  </div>
</div>

<div
  *ngIf="showStatistic && isWin == 1"
  class="endScreen"
  style="background-color: green"
>
  <h2>Gewonnen</h2>
</div>
<div
  *ngIf="showStatistic && isWin == 2"
  class="endScreen"
  style="background-color: red"
>
  <h2>Verloren</h2>
</div>
<div
  *ngIf="showStatistic && isWin == 0"
  class="endScreen"
  style="background-color: gray"
>
  <h2>Unentschieden</h2>
</div>
