<div
  class="main d-flex align-items-center justify-content-center"
  style="height: 100%"
>
  <div class="row px-2">
    <!-- Leftside -->
    <div class="col-6">
      <h1 style="font-size: 75px; font-weight: bold">
        Quiz<span class="text-warning">App</span>
      </h1>
      <p>
        Jeder Spieler registriert sich zunächst einmal. Daraufhin kann ich
        andere Spieler als Freund hinzufugen. Mir wird auch angezeigt, ob
        Spieler online sind. Ich kann einen Freund herausfordern und wenn dieser
        annimmt sind wir in einem Duell. Ein Duell funktioniert wie Quizduell,
        also wird erst dem einen, dann dem anderen die gleiche Frage gestellt
        und es gibt jeweils vier Antwortm¨oglichkeiten. Insgesamt zehn Fragen
        pro Duell. Es soll außerdem eine Statistik geben, wo ich sehen kann, wie
        viele Spiele ich gewonnen habe und gegen wen ich so gespielt habe.
        Admins sollen die Fragen verwalten können.
      </p>
    </div>

    <!-- Rightside -->
    <div class="col-6 shadow p-3" style="border-radius: 25px">
      <div>
        <form>
          <h2>Anmelden und loslegen</h2>
          <div>
            <label for="inputEmail">E-Mail-Adresse:</label>
            <input
              type="email"
              id="inputEmail"
              class="form-control"
              placeholder="Max.Mustermann@gmail.com"
            />
          </div>
          <div class="mt-4 mb-4">
            <label for="inputPassword">Passwort:</label>
            <input
              type="password"
              id="inputPassword"
              class="form-control"
              placeholder="Passwort"
            />
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-warning btn-lg w-100">
              Anmelden
            </button>
          </div>
          <div class="mt-3 mb-4 d-flex justify-content-center">
            <a href="#!">Passwort vergessen?</a>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-warning btn-large" type="button">
              Neues Konto anlegen
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
