<h2
  class="bg-warning text-dark font-weight-bold"
  style="text-align: center; border-radius: 15px"
>
  Spieler Profil
</h2>

<!-- Body -->
<div class="d-flex align-items-start my-3">
  <span
    class="material-icons"
    style="font-size: 140px; background-color: lightblue; border-radius: 100%"
    >person</span
  >
  <div class="mx-3 my-3">
    <h3>Username: {{ userModel?.username }}</h3>
    <h3>Gewonnen: {{ userModel?.gamesWon }}</h3>
    <h3>Verloren: {{ userModel?.gamesLost }}</h3>
  </div>
</div>
<!-- Bottom -->
<div class="row" style="justify-content: center">
  <!-- <button
    class="col-md-3 p-2 m-5 bg-warning text-dark changebtn"
    data-bs-toggle="modal"
    data-bs-target="#playerEdit"
  >
    Username ändern
  </button> -->
  <button
    class="col-md-3 p-2 m-5 bg-warning text-dark changebtn"
    data-bs-toggle="modal"
    data-bs-target="#passwordEdit"
  >
    Passwort ändern
  </button>
  <button
    class="col-md-3 p-2 m-5 bg-warning text-dark changebtn"
    (click)="signOut()"
  >
    Abmelden
  </button>
</div>
<app-plyer-edit></app-plyer-edit>
<app-password-edit></app-password-edit>
