<header class="d-flex justify-content-center">
  <h1 style="font-size: 75px; font-weight: bold">
    Quiz<span class="text-warning">App</span>
  </h1>
</header>
<div class="row d-flex justify-content-center">
  <!-- LeftSide -->
  <div class="col-md-3 shadow mx-3 box">
    <div class="row">
      <h2 class="d-flex justify-content-center">Fragen</h2>
      <div class="list-group list-group-flush">
        <button type="button" class="list-group-item list-group-item-action">
          Cras justo odio
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Dapibus ac facilisis in
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Morbi leo risus
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Porta ac consectetur ac
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Vestibulum at eros
        </button>
      </div>
    </div>
  </div>

  <!-- Center -->
  <div class="col-md-8 mx-3">
    <!-- Center Body -->

    <!-- GameArea -->
    <div class="shadow box" style="height: 200%">
      <p>Fragen und Antworten</p>
    </div>
  </div>
</div>
