<header class="d-flex justify-content-center">
  <h1 style="font-size: 75px; font-weight: bold">
    Quiz<span class="text-warning">App</span>
  </h1>
</header>
<div class="row d-flex justify-content-center">
  <!-- LeftSide -->
  <div class="col-md-3">
    <div class="shadow mx-3 box">
      <h2 class="d-flex justify-content-center">Fragen</h2>
      <div
        class="list-group list-group-flush"
        *ngFor="let question of allQuestions"
      >
        <button
          type="button"
          class="list-group-item list-group-item-action"
          (click)="fillInput(question!)"
        >
          {{ question!.description }}
          <button
            style="border: none; background: none; float: right"
            class="material-icons"
            (click)="deleteQuestion(question!.id)"
          >
            delete
          </button>
        </button>
      </div>
    </div>
    <div class="mx-3 mt-5">
      <button class="btn btn-warning btn-lg w-100" (click)="createQuestion()">
        Neue Frage hinzufügen
      </button>
    </div>
  </div>

  <!-- RightSide -->
  <div class="col-md-8 mx-3">
    <!-- RightBody -->
    <div class="shadow box">
      <div class="row d-flex">
        <div class="col-md-1">
          <label>Q-ID:</label>
          <p>{{ id }}</p>
        </div>
        <div class="col-md-11">
          <input
            type="text"
            class="form-control"
            placeholder="Frage"
            [(ngModel)]="question"
          />
        </div>
      </div>
      <hr />
      <input
        style="margin-top: 20px"
        type="text"
        class="form-control"
        placeholder="1. Antwort"
        [(ngModel)]="answer1"
      />
      <input
        style="margin-top: 20px"
        type="text"
        class="form-control"
        placeholder="2. Antwort"
        [(ngModel)]="answer2"
      />
      <input
        style="margin-top: 20px"
        type="text"
        class="form-control"
        placeholder="3. Antwort"
        [(ngModel)]="answer3"
      />
      <input
        style="margin-top: 20px"
        type="text"
        class="form-control"
        placeholder="4. Antwort"
        [(ngModel)]="answer4"
      />

      <div class="d-flex justify-content-center" style="margin-top: 20px">
        <button
          class="btn btn-warning btn-large"
          type="button"
          (click)="changeQuestion()"
        >
          Frage ändern
        </button>
      </div>
    </div>
  </div>
</div>
