<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <span class="fs-5 d-none d-sm-inline">Quiz App</span>

        <ul
          class="nav container-fluid nav-pills d-inline flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start min-vh-100"
          id="menu"
        >
          <li
            class="nav-item mt-5 d-flex align-items-center justify-content-between"
          >
            <div class="d-flex align-items-center">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="home"
              ></mat-icon>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </div>
            <mat-icon aria-hidden="false">keyboard_arrow_right</mat-icon>
          </li>
          <li
            class="nav-item mt-3 d-flex align-items-center justify-content-between"
          >
            <div class="d-flex align-items-center">
              <mat-icon fontIcon="group"></mat-icon>
              <span
                (click)="showUsers = true; showQuestionEdit = false"
                class="ms-1 d-none d-sm-inline"
                >Nutzer</span
              >
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </li>
          <li
            (click)="showQuestionEdit = true; showUsers = false"
            class="nav-item mt-3 d-flex align-items-center justify-content-between"
          >
            <div class="d-flex align-items-center">
              <mat-icon
                aria-hidden="false"
                fontIcon="question_answer"
              ></mat-icon>

              <span class="ms-1 d-none d-sm-inline">Fragen</span>
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </li>
          <li
            (click)="signOut()"
            class="nav-item mt-3 d-flex align-items-center justify-content-between"
          >
            <div class="d-flex align-items-center">
              <mat-icon>exit_to_app</mat-icon>

              <span class="ms-1 d-none d-sm-inline">Abmelden</span>
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <app-question-edit *ngIf="showQuestionEdit"></app-question-edit>
      <app-user-list *ngIf="showUsers"></app-user-list>
    </div>
  </div>
</div>
