<!-- Modal -->
<div
  class="modal"
  id="passwordEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Password ändern</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-start">
          <span class="material-icons" style="font-size: 140px">person</span>
          <div class="row mx-3 my-3">
            <input
              type="text"
              class="form-control"
              placeholder="New Password"
              aria-label="New Password"
              aria-describedby="basic-addon1"
              [(ngModel)]="password"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
