<div class="container mt-5">
  <div class="row">
    <div class="column d-flex">
      <caption>
        List of users
      </caption>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">UID</th>
            <th scope="col">Username</th>
            <th scope="col">GamesWon</th>
            <th scope="col">GamesLost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers">
            <td>{{ user!.id }}</td>
            <td>{{ user!.username }}</td>
            <td>{{ user!.gamesWon }}</td>
            <td>{{ user!.gamesLost }}</td>
            <td>
              <button
                *ngIf="!(user?.id == 1)"
                style="border: none; background: none; float: right"
                class="material-icons"
                (click)="deleteUser(user!.username!)"
              >
                delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
