<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100%"
>
  <div class="row d-flex">
    <div class="d-flex justify-content-center">
      <h1 style="font-size: 75px; font-weight: bold">
        Quiz<span class="text-warning">App</span>
      </h1>
    </div>
    <div class="shadow p-5" style="border-radius: 25px">
      <h2>
        <button
          [routerLink]="['/login']"
          style="border: none; background: none"
          class="material-icons"
        >
          backspace</button
        >Jetzt registrieren
      </h2>
      <div>
        <label>E-Mail-Adresse:</label>
        <input
          type="email"
          [(ngModel)]="inputEmail"
          class="form-control"
          placeholder="Max.Mustermann@gmail.com"
        />
      </div>
      <div class="mt-4 mb-4">
        <label>Username:</label>
        <input
          type="text"
          [(ngModel)]="inputUsername"
          class="form-control"
          placeholder="MaxMuster"
        />
      </div>

      <div class="mt-4 mb-4">
        <label>Passwort:</label>
        <input
          type="password"
          [(ngModel)]="inputPassword"
          class="form-control"
          placeholder="Passwort"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-warning btn-lg w-100"
          (click)="submit()"
        >
          Registrieren
        </button>
      </div>
    </div>
  </div>
</div>
