<div
  class="main d-flex align-items-center justify-content-center"
  style="height: 100%"
>
  <div class="shadow p-5" style="border-radius: 25px">
    <button
      [routerLink]="['/login']"
      style="border: none; background: none"
      class="material-icons"
    >
      backspace
    </button>

    <form>
      <h2>
        Jetzt bei
        <span style="font-size: larger"
          >Quiz<span class="text-warning">App</span></span
        >
        registriert
      </h2>
      <div>
        <label for="inputEmail">E-Mail-Adresse:</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Max.Mustermann@gmail.com"
        />
      </div>
      <div class="mt-4 mb-4">
        <label for="inputUsername">Username:</label>
        <input
          type="text"
          id="inputUsername"
          class="form-control"
          placeholder="MaxMuster"
        />
      </div>

      <div class="mt-4 mb-4">
        <label for="inputPassword">Passwort:</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Passwort"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-warning btn-lg w-100">
          Registriert
        </button>
      </div>
    </form>
  </div>
</div>
