<header class="d-flex justify-content-center">
  <h1 style="font-size: 75px; font-weight: bold">
    Quiz<span class="text-warning">App</span>
  </h1>
</header>
<!-- LeftSide -->
<div class="row d-flex justify-content-center">
  <div class="col-md-2 shadow mx-3 box">
    <div class="row">
      <h2 class="d-flex justify-content-center">Spieler</h2>
      <div class="list-group list-group-flush">
        <button type="button" class="list-group-item list-group-item-action">
          Cras justo odio
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Dapibus ac facilisis in
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Morbi leo risus
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Porta ac consectetur ac
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Vestibulum at eros
        </button>
      </div>
    </div>
  </div>

  <!-- Center -->
  <div class="col-md-7 mx-3">
    <!-- Center Header-->
    <div class="row d-flex align-items-center">
      <button
        class="col btn btn-outline-dark"
        style="border: none"
        (click)="showQuizGame()"
      >
        <h4>Quizgame</h4>
      </button>
      <button
        class="col btn btn-outline-dark"
        style="border: none"
        (click)="showProfil()"
      >
        <h4 class="col" style="text-align: center">Profil</h4>
      </button>
      <button
        class="col btn btn-outline-dark"
        style="border: none"
        (click)="showStatistik()"
      >
        <h4 class="col" style="text-align: center">Statistik</h4>
      </button>
      <button
        class="col btn btn-outline-dark"
        style="border: none"
        (click)="showVerlauf()"
      >
        <h4 class="col" style="text-align: center">Verlauf</h4>
      </button>
      <hr />
    </div>
    <!-- Center Body -->

    <!-- GameArea -->
    <div
      class="shadow box"
      [ngClass]="toggleQuizGame ? ['displayShow'] : ['displayHide']"
    >
      <p>GameArea</p>
    </div>

    <!-- ProfilArea -->
    <div
      class="shadow box"
      [ngClass]="toggleProfil ? ['displayShow'] : ['displayHide']"
    >
      <p>Profil</p>
    </div>

    <!-- StatistikArea -->
    <div
      class="shadow box"
      [ngClass]="toggleStatistik ? ['displayShow'] : ['displayHide']"
    >
      <p>Statistik</p>
    </div>

    <!-- VerlaufArea -->
    <div
      class="shadow box"
      [ngClass]="toggleVerlauf ? ['displayShow'] : ['displayHide']"
    >
      <p>Verlauf</p>
    </div>
  </div>

  <!-- RightSide -->
  <div class="col-md-2 shadow mx-3 box">
    <div class="row">
      <h2 class="d-flex justify-content-center">Freundesliste</h2>
      <div class="list-group list-group-flush">
        <button type="button" class="list-group-item list-group-item-action">
          Cras justo odio
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Dapibus ac facilisis in
        </button>
      </div>
    </div>
  </div>
</div>
