<!-- Title -->
<header class="d-flex justify-content-center">
  <h1 style="font-size: 75px; font-weight: bold">
    Quiz<span class="text-warning">App</span>
  </h1>
</header>
<div class="row d-flex justify-content-center">
  <!-- LeftSide -->
  <div class="col-md-2 shadow box" style="overflow-y: scroll">
    <div class="row">
      <h2 style="text-align: center" class="d-flex justify-content-center">
        Spieler online
      </h2>
      <div class="list-group list-group-flush">
        <button
          type="button"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        >
          Cras justo odio
          <span class="onlinedot"></span>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Dapibus ac facilisis in
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Morbi leo risus
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Porta ac consectetur ac
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Vestibulum at eros
        </button>
      </div>
    </div>
  </div>

  <!-- Center -->
  <div class="col-md-7 mx-3">
    <!-- Center Header-->
    <div class="row d-flex align-items-center">
      <button
        class="col btn btn-outline-dark headerButton"
        (click)="showQuizGame()"
      >
        <h4>Quizgame</h4>
      </button>
      <button
        class="col btn btn-outline-dark headerButton"
        style="border: none"
        (click)="showProfil()"
      >
        <h4 class="col">Profil</h4>
      </button>
      <button
        class="col btn btn-outline-dark headerButton"
        (click)="showStatistik()"
      >
        <h4 class="col">Statistik</h4>
      </button>
      <button
        class="col btn btn-outline-dark headerButton"
        (click)="showVerlauf()"
      >
        <h4 class="col">Verlauf</h4>
      </button>
      <hr />
    </div>
    <!-- Center Body -->

    <!-- GameArea -->
    <div
      class="shadow box"
      [ngClass]="toggleQuizGame ? ['displayShow'] : ['displayHide']"
    >
      <app-quiz-game></app-quiz-game>
    </div>

    <!-- ProfilArea -->
    <div
      class="shadow box"
      [ngClass]="toggleProfil ? ['displayShow'] : ['displayHide']"
    >
      <app-profil></app-profil>
    </div>

    <!-- StatistikArea -->
    <div
      class="shadow box"
      [ngClass]="toggleStatistik ? ['displayShow'] : ['displayHide']"
    >
      <app-statistik> </app-statistik>
    </div>

    <!-- VerlaufArea -->
    <div
      class="shadow box"
      [ngClass]="toggleVerlauf ? ['displayShow'] : ['displayHide']"
    >
      <app-verlauf></app-verlauf>
    </div>
  </div>

  <!-- RightSide -->
  <div class="col-md-2 shadow box" style="overflow-y: scroll">
    <div class="row">
      <h2 class="d-flex justify-content-center">Freundesliste</h2>
      <div class="list-group list-group-flush">
        <button type="button" class="list-group-item list-group-item-action">
          Cras justo odio
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          Dapibus ac facilisis in
        </button>
      </div>
    </div>
  </div>
</div>

<footer class="row d-flex justify-content-center m-3">
  <div class="col-md-6 shadow box d-flex align-items-center">
    Spielerstatus:
    <span class="onlinedot mx-2" style="background-color: #3a6b35"></span>
    online
    <span class="onlinedot mx-2"></span>
    offline
    <span class="onlinedot mx-2" style="background-color: orangered"></span>
    ingame
  </div>
</footer>
