<header class="d-flex justify-content-center">
  <h1 style="font-size: 75px; font-weight: bold">
    Quiz<span class="text-warning">App</span>
  </h1>
</header>
<!-- LeftSide -->
<div class="row d-flex justify-content-center">
  <div class="col-md-2 shadow mx-3 box">
    <div class="row">
      <h2 class="d-flex justify-content-center">Spieler</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>

  <!-- Center -->
  <div class="col-md-6 mx-3">
    <div class="row d-flex align-items-center">
      <button
        class="col"
        style="border: none; background-color: white"
        (onClick)="showQuizGame()"
      >
        <h4>Quizgame</h4>
      </button>
      <button
        class="col"
        style="border: none; background-color: white"
        (onClick)="showProfil()"
      >
        <h4 class="col" style="text-align: center">Profil</h4>
      </button>
      <button
        class="col"
        style="border: none; background-color: white"
        (onClick)="showStatistik()"
      >
        <h4 class="col" style="text-align: right">Statistik</h4>
      </button>
      <button
        class="col"
        style="border: none; background-color: white"
        (onClick)="showVerlauf()"
      >
        <h4 class="col" style="text-align: end">Verlauf</h4>
      </button>
      <hr />
    </div>

    <div
      class="shadow d-flex justify-content-center box"
      id="gameDisplayId"
      [ngClass]="['displayShow']"
    >
      <!-- GameArea -->
      <p>GameArea</p>
    </div>
    <div
      class="shadow d-flex justify-content-center box"
      [ngClass]="['displayHide']"
    >
      <!-- ProfilArea -->
      <p>Profil</p>
    </div>
    <div
      class="shadow d-flex justify-content-center box"
      [ngClass]="['displayHide']"
    >
      <!-- StatistikArea -->
      <p>Statistik</p>
    </div>
    <div
      class="shadow d-flex justify-content-center box"
      style="height: 200%; display: none !important"
      [ngClass]="['displayHide']"
    >
      <!-- VerlaufArea -->
      <p>Verlauf</p>
    </div>
  </div>

  <!-- RightSide -->
  <div class="col-md-2 shadow mx-3 box">
    <div class="row">
      <h2 class="d-flex justify-content-center">Freundesliste</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
      </ul>
    </div>
  </div>
</div>
