<div
  class="main d-flex align-items-center justify-content-center"
  style="height: 100%"
>
  <div class="row">
    <!-- Rightside -->
    <div class="col-lg-6 shadow p-5 mx-3" style="border-radius: 25px">
      <div>
        <h2>Anmelden und loslegen</h2>
        <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">
          <h4>{{ errorMessage }}</h4>
        </div>
        <div>
          <label>Nickname:</label>
          <input
            type="text"
            [(ngModel)]="inputNickname"
            class="form-control"
            placeholder="MaxMuster"
          />
        </div>
        <div class="mt-4 mb-4">
          <label>Passwort:</label>
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            [(ngModel)]="inputPassword"
            class="form-control"
            placeholder="Passwort"
          />
          <input type="checkbox" [(ngModel)]="showPassword" class="mt-2 ml-4" />
          <label>Show Password</label>
        </div>
        <div class="d-flex justify-content-center">
          <button
            [routerLink]="loginbool ? ['/homepage'] : []"
            type="button"
            class="btn btn-warning btn-lg w-100"
            (click)="submit()"
          >
            Anmelden
          </button>
        </div>
        <div class="mt-3 mb-4 d-flex justify-content-center">
          <a [routerLink]="['/passwordForgot']" href="#!"
            >Passwort vergessen?</a
          >
        </div>
        <div class="d-flex justify-content-center">
          <button
            [routerLink]="['/registration']"
            class="btn btn-outline-warning btn-large"
            type="button"
          >
            Neues Konto anlegen
          </button>
        </div>
      </div>
    </div>
    <!-- Leftside -->
    <div class="col-lg-5 mx-3">
      <h1 style="font-size: 75px; font-weight: bold">
        Quiz<span class="text-warning">App</span>
      </h1>
      <h4>
        Jeder Spieler registriert sich zunächst einmal. Daraufhin kann ich
        andere Spieler als Freund hinzufugen. Mir wird auch angezeigt, ob
        Spieler online sind. Ich kann einen Freund herausfordern und wenn dieser
        annimmt sind wir in einem Duell. Ein Duell funktioniert wie Quizduell,
        also wird erst dem einen, dann dem anderen die gleiche Frage gestellt
        und es gibt jeweils vier Antwortmöglichkeiten. Insgesamt zehn Fragen pro
        Duell. Es soll außerdem eine Statistik geben, wo ich sehen kann, wie
        viele Spiele ich gewonnen habe und gegen wen ich so gespielt habe.
        Admins sollen die Fragen verwalten können.
      </h4>
    </div>
  </div>
</div>
