<div class="modal-header">
  <h5 class="modal-title">Frage erstellen</h5>

  <button
    type="button"
    class="btn-close"
    (click)="closeModal()"
    aria-label="Close"
  ></button>
</div>
<div
  class="row d-flex justify-content-center modal-body modal-lg"
  style="margin: 20px"
>
  <!-- RightSide -->
  <div class="col-md-11 mx-3">
    <!-- RightBody -->
    <div class="shadow box" style="padding: 10px">
      <div class="row d-flex">
        <div class="col-md-12">
          <input
            type="text"
            class="form-control"
            placeholder="Fragee"
            [(ngModel)]="questionn!.description!"
          />
        </div>
      </div>
      <hr />
      <div
        *ngFor="let index of [0, 1, 2, 3]"
        class="d-flex align-items-center justify-content-center"
      >
        <input
          type="radio"
          [checked]="this.checkboxValues[index]"
          name="radAnswer"
          class="form-check-input mx-3"
          (click)="checkCorrectAnswers(answers[index])"
        />
        <input
          style="margin-top: 20px"
          type="text"
          class="form-control"
          [placeholder]="'Antwort ' + index"
          [(ngModel)]="questionn!.answers![index]"
        />
      </div>
      <div
        class="d-flex justify-content-center modal-footer"
        style="margin-top: 20px"
      >
        <div class="d-flex justify-content-center" style="margin-top: 20px">
          <button
            class="btn btn-warning btn-large"
            type="button"
            (click)="changeQuestion()"
          >
            Frage ändern
          </button>
        </div>
      </div>
      <div
        *ngIf="showErrorMessage"
        class="alert alert-danger"
        role="alert"
        style="margin: 10px"
      >
        <h4>{{ errorMessage }}</h4>
      </div>
    </div>
  </div>
</div>
