<div class="modal-header">
  <h5 class="modal-title">Spielerprofil</h5>

  <button
    type="button"
    class="btn-close"
    (click)="closeModal()"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <div class="d-flex align-items-start">
    <span class="material-icons" style="font-size: 140px">person</span>
    <div class="row mx-3 my-3">
      <h5>Username: {{ user!.username }}</h5>

      <h5>Punkte: {{ user!.gamesWon }}</h5>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">
    Close
  </button>
  <button
    *ngIf="!isFriend"
    type="button"
    class="btn btn-primary"
    (click)="sendFriendRequest()"
  >
    Freund hinzufügen
  </button>
  <button
    *ngIf="isOnline"
    type="button"
    class="btn btn-primary"
    (click)="sendGameRequest()"
  >
    Duell herausfordern
  </button>
  <button *ngIf="!isOnline" type="button" class="btn btn-secondary">
    Duell herausfordern
  </button>
</div>
